<!--The content below is only a placeholder and can be replaced.-->
<div class="container bg">
  <div class="jumbotron" style="padding-bottom: 0;margin-bottom: 0;background-color: transparent">
    <h1 style="text-align: center; color: white;font-family: fantasy;font-size: 4em;">VAN ELIE</h1>
  </div>

  <div class="row" style="max-height: 40px;">
    <div class="offset-1 col-10">
      <hr style="width: 90%; height: 10px; color: white;"/>
    </div>
  </div>

  <div class="row">
    <div>
      <h1 style="text-align: center;color: white;font-family: fantasy;font-size: 2.5em;margin: 0;padding-bottom: 0.5em;">1er EP</h1>
    </div>
    <div class="col-12">
      <img src="../assets/？.jpg" style="height: 60%;width: 75%;padding-left: 25%;">
    </div>
    <div class="col-12">
      <button class="btn btn-light" style="text-align: center;position: relative;width: 100px;margin-left: calc(50% - 50px);margin-top: 10px;"
              disabled>- JUIN 18 -</button>
    </div>
  </div>

  <div class="row" style="max-height: 40px;">
    <div class="offset-1 col-10">
      <hr style="width: 90%; height: 10px; color: white;"/>
    </div>
  </div>

  <div class="row">
    <div>
      <h1 style="text-align: center;color: white;font-family: fantasy;font-size: 2.5em;margin: 0;padding-bottom: 0.5em;">Laisse</h1>
    </div>
    <div class="offset-1 col-10">
      <iframe class="videoResp" width="560" height="315" src="https://www.youtube.com/embed/MTu9Yrf7V9c" frameborder="0"
              allow="autoplay; encrypted-media" style="width: 95%;padding-left: 5%;"
              allowfullscreen></iframe>
    </div>
  </div>

  <div class="row" style="max-height: 40px;">
    <div class="offset-1 col-10">
      <hr style="width: 90%; height: 10px; color: white;"/>
    </div>
  </div>

  <div class="row">
    <div>
      <h1 style="text-align: center;color: white;font-family: fantasy;font-size: 2.5em;margin: 0;padding-bottom: 0.5em;">Hero</h1>
    </div>
    <div class="offset-1 col-10">
      <iframe class="videoResp" width="560" height="315" src="https://www.youtube.com/embed/NMNpcS_A9TQ?showinfo=0" frameborder="0"
              allow="autoplay; encrypted-media" style="width: 95%;padding-left: 5%;"
              allowfullscreen></iframe>
    </div>
  </div>

  <div class="row" style="max-height: 40px;">
    <div class="offset-1 col-10">
      <hr style="width: 90%; height: 10px; color: white;"/>
    </div>
  </div>

  <div class="row">
    <div>
      <h1 style="text-align: center;color: white;font-family: fantasy;font-size: 2.5em;margin: 0;padding-bottom: 0.5em;">Non Retour</h1>
    </div>
    <div class="offset-1 col-10">
      <iframe class="videoResp" width="560" height="315" src="https://www.youtube.com/embed/8mzJGVBfBMo?showinfo=0" frameborder="0"
              allow="autoplay; encrypted-media" style="width: 95%;padding-left: 5%;"
              allowfullscreen></iframe>
    </div>
  </div>

  <div class="row">
    <div class="offset-1 col-10">
      <hr style="width: 90%; height: 10px; color: white;"/>
    </div>
  </div>

  <div class="row">
    <div>
      <h1 style="text-align: center;color: white;font-family: fantasy;font-size: 1.5em;margin: 0;padding-bottom: 0.5em;">
        <a href="https://twitter.com/cyrillevanhulle" style="color: white;">Twitter</a>·
        <a href="https://www.facebook.com/Levanelie" style="color: white;">Facebook</a>
      </h1>
    </div>
    <div>
      <h1 style="text-align: center;color: white;font-family: fantasy;font-size: 1.5em;margin: 0;padding-bottom: 0.5em;">
        <a style="color: white;">Spotify</a>·
        <a href="https://soundcloud.com/van-elie" style="color: white;">SoundCloud</a>·
        <a href="https://www.youtube.com/channel/UCMuFeE9nJothtG1c2gd3Sfg" style="color: white;">YouTube</a>
      </h1>
    </div>
    <div>
      <h1 style="text-align: center;color: white;font-family: fantasy;font-size: 1.5em;margin: 0;padding-bottom: 0.5em;">
        Booking: <a href="mailto:vaneliemusic@gmail.com" style="color: white;">vaneliemusic@gmail.com</a>
      </h1>
    </div>
    <div>
      <h1 style="text-align: center;color: white;font-family: fantasy;font-size: 1.5em;margin: 0;padding-bottom: 0.5em;">
        Site by Cyrille Vanhulle
      </h1>
    </div>
  </div>

</div>
